<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxf.score.dao.StudentDao">
    <resultMap type="cn.wxf.score.entity.Student" id="Student">
        <result column="studentId" property="studentId" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
    </resultMap>
    <resultMap type="cn.wxf.score.entity.Score" id="Score">
        <result column="teacherId" property="teacherId" />
        <result column="studentId" property="studentId" />
        <result column="subject" property="subject" />
        <result column="score" property="score" />
        <result column="studentName" property="studentName" />
        <result column="teacherName" property="teacherName" />
    </resultMap>
    <select id="getStudents" resultMap="Student">
        select * from student
    </select>

    <select id="getStudent" resultMap="Student">
        select * from student where studentId=#{studentId} and password=#{password}
    </select>

    <select id="getScores" resultMap="Score">
        select * from score where studentId=#{studentId}
    </select>

    <select id="findScores" resultMap="Score">
        select * from score where studentId=#{studentId}  and (teacherId=#{teacherId} or #{teacherId}='') and (subject=#{subject} or #{subject}='')
    </select>

    <update id="updateStudentInfo">
        update student set name = #{name}, phone = #{phone},email=#{email} where studentId = #{studentId}
    </update>

    <select id="getStudentById" resultMap="Student">
        select * from student where studentId=#{studentId}
    </select>

    <insert id="insertStudent">
        insert into student(studentId,password) values (#{studentId}, #{password})
    </insert>
</mapper>