<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxf.score.dao.TeacherDao">
    <resultMap type="cn.wxf.score.entity.Teacher" id="Teacher">
        <result column="teacherId" property="teacherId" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
    </resultMap>
    <resultMap type="cn.wxf.score.entity.Score" id="Score">
        <result column="teacherId" property="teacherId" />
        <result column="studentId" property="studentId" />
        <result column="subject" property="subject" />
        <result column="score" property="score" />
        <result column="studentName" property="studentName" />
        <result column="teacherName" property="teacherName" />
    </resultMap>
    <select id="getTeacher" resultMap="Teacher">
        select * from teacher where teacherId=#{teacherId} and password=#{password}
    </select>

    <insert id="insertScore">
        insert into score(studentId,teacherId,subject,score) values (#{studentId},  #{teacherId}, #{subject}, #{score})
    </insert>

    <delete id="deleteScore">
        delete from score  where studentId=#{studentId} and teacherId=#{teacherId} and subject=#{subject}
    </delete>
    <select id="getScores" resultMap="Score">
        select * from score where teacherId=#{teacherId}
    </select>
    <select id="findScores" resultMap="Score">
        select * from score where teacherId=#{teacherId}  and (studentId=#{studentId} or #{studentId}='') and (subject=#{subject} or #{subject}='')
    </select>
    <update id="updateTeacherInfo">
        update teacher set name = #{name}, phone = #{phone},email=#{email} where teacherId = #{teacherId}
    </update>
    <update id="updateScore">
        update score set score=#{score} where teacherId = #{teacherId} and studentId=#{studentId} and subject=#{subject}
    </update>

    <select id="getTeacherById" resultMap="Teacher">
        select * from teacher where teacherId=#{teacherId}
    </select>

    <insert id="insertTeacher">
        insert into teacher(teacherId,password) values (#{teacherId}, #{password})
    </insert>
</mapper>